html, body {
    height: 100%;
    margin: 0;
    background-color:#2F0B81;
}

a, h1, h2, li, p {
    color: #FFFFFF;
}

iframe {
    width: 95%;
    height: 89vh;
    border: none;
}

nav {
   height: 10%;
}

nav a {
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1.25rem;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
